/*
==================================================
AQQ - Responsive
==================================================
*/

.aq-container {
  width: 100%;
  max-width: var(--aq-max-content-width);
  margin-inline: auto;
  padding-inline: var(--aq-space-4);
}

.aq-mobile-only {
  display: block;
}

.aq-tablet-up,
.aq-desktop-up {
  display: none;
}



@media(max-width: 767px){
 .aq-w-sm-100 {
    width: 100% !important;
  }

  #image-preview-container {
        grid-template-columns: repeat(3, 1fr) !important;
  }
  
  .aq-fab-button {
    border-radius: 50% !important;
}

}

@media (min-width: 768px) {
  
  .aq-mobile-only {
    display: none;
  }
  
  .aq-tablet-up {
    display: block;
  }

  #image-preview-container {
        grid-template-columns: repeat(5, 1fr) !important;
  }
}

@media (min-width: 992px) {
  
  .aq-fab-button {
    border-radius: var(--aq-radius-lg) !important;
  }
  .aq-desktop-up {
    display: block;
  }

  .aq-w-lg-50 {
    width: 50% !important;
  }
  
  .aq-w-lg-75 {
    width: 75% !important;
  }
}